---
layout: default
title: "daviiid's blog"
permalink: /blog/
---

<h1>Blogposts</h1>

{% for post in site.posts %}

<a href="{{site.baseurl}}{{post.url}}" class="listitem_post">

  <div class="post-title-wrapper">
    <span class="listitem_post_title">{{post.title}}</span>
    {% if post.severity %}
      <span class="severity-tag severity-{{ post.severity | downcase }}">{{ post.severity }}</span>
    {% endif %}
  </div>

  <p class="listitem_post_description">{{post.description}}</p>

  <p class="listitem_post_date">{{post.date | date: "%-d %B %Y" }}</p>

</a>
{% endfor %}